<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
 <div class="container-fluid">
 <a class="navbar-brand" href="#"></a>
 <img src=".../public/bigcommerce.png" width="30" height="30" class="d-flex justify-content-start"   alt="" />
 </div>
</nav>