<!DOCTYPE html>
<html>
 <head>
    <%= csrf_meta_tags %>
 </head>
 <body>
 <br />
 <div id="container"></div>
  <br />
   <br />
    <br />
  <div id="highs-lows-container"></div>
 </body>
</html>
  
